body {
    font-family: 'Josefin';
    margin:0;
}

input {
    padding: 8px;
    font-family: 'Josefin';
    border: 1px solid #51ACDC;
    border-radius: 4px;
    height: 100%;

    &:focus {
        outline: 1px solid #51ACDC;
    }
}
button {
    padding: 8px;
    margin-left: 10px;
    font-family: 'Josefin';
    background-color: rgba(170,219, 245, 0.2);
    color: #51ACDC;
    border: 1px solid #51ACDC;
    border-radius: 16px;
}

@font-face {
    font-family: 'Josefin';
    src: url('assets/fonts/Josefin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#response {
    color: #51ACDC;
    cursor: pointer;
}